<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lase_name %>
    <%= form.text_field :lase_name %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, :use_month_numbers=>true, :start_year=>1970, :end_year => Time.now.year, :default =>'2000-1-1'.to_date, date_separator: '/' %>
    <!--<= form.date_select :birthday, discard_day %>-->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
